<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email</title>
  </head>
  <body>
    <h2>{{title}}</h2>
    <p>Company: {{company}}</p>
    <p>Name: {{name}}</p>
    <p>Email: {{email}}</p>
    <p>Usecase: {{usecase}}</p>
    <p>Message: {{message}}</p>
  </body>
</html>